.main-backpack-container {
	position: absolute;
	top: 0;
	right: 0;
	height: 128px;
	width: 50%;
}

.main-pokemon-party-container {
	background-color: $thirdWhite;
	z-index: 10;
}

.pokemon-party-backgrond-container {
	position: relative;
	height: 100%;
	width: 100%;

	img {
		height: 292px;
		width: 324px;
	}
}

.open-pokedex-box,
.open-party-box,
.open-items-box,
.open-name-box,
.open-save-box,
.open-options-box,
.exit-backback-box {
	position: absolute;
	left: 16px;
	height: 8px;
	width: 57px;
	cursor: pointer;
}
.open-pokedex-box { top: 16px; }
.open-party-box { top: 32px; }
.open-items-box { top: 48px; }
.open-name-box { top: 64px; }
.open-save-box { top: 80px; }
.open-options-box { top: 96px; }
.exit-backback-box { top: 112px; }

.mon-in-bag-container-0,
.mon-in-bag-container-1,
.mon-in-bag-container-2,
.mon-in-bag-container-3,
.mon-in-bag-container-4,
.mon-in-bag-container-5 {
	position: relative;
	height: 16px;
	font-size: 4px;
	width: 154px;
}

.mon-in-bag-name-container {
	position: absolute;
	top: 0;
	left: 16px;
	height: 8px;
	width: 80px;
	background-color: $thirdWhite;
}

.mon-in-bag-level-container {
	position: absolute;
	top: 0;
	right: 32px;
	height: 8px;
	width: 24px;
	background-color: $thirdWhite;
}

.mon-in-bag-character-container {
	height: 16px;
	width: 16px;
	position: absolute;
	top: 0;
	left: 0px;
	background-color: $thirdWhite;
}

.mon-in-bag-hp-container {
	position: absolute;
	bottom: 0px;
	right: 0;
	height: 8px;
	width: 56px;
	background-color: $thirdWhite;
}

.mon-in-bag-hp-bar-container {
	position: absolute;
	top: 8px;
	left: 24px;
	height: 8px;
	width: 80px;
	background-color: $thirdWhite;
}

.pokemon-party-poiner-container {
	position: absolute;
	height: 16px;
	width: 16px;
}

.selected-pokemon-stats-container {
	position: absolute;
	top: 0;
	left: 0;
}

.selected-pokemon-img-container {
	position: absolute;
	top: 0;
	left: 8px;
	height: 56px;
	width: 56px;
	background-color: $whiteSecondary;

	img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

.selected-pokemon-name-container {
	position: absolute;
	top: 8px;
	left: 72px;
	height: 8px;
	width: 80px;
	font-size: 8px;
	background-color: $whiteSecondary;
}

.selected-pokemon-level-container {
	position: absolute;
	top: 16px;
	left: 120px;
	height: 8px;
	width: 24px;
	font-size: 8px;
	background-color: $whiteSecondary;
}

.selected-pokemon-attack-container {
	position: absolute;
	top: 80px;
	left: 48px;
	background-color: $whiteSecondary;
	height: 8px;
	width: 24px;
	font-size: 8px;
}

.selected-pokemon-defense-container {
	position: absolute;
	top: 96px;
	left: 48px;
	background-color: $whiteSecondary;
	height: 8px;
	width: 24px;
	font-size: 8px;
}

.selected-pokemon-speed-container {
	position: absolute;
	top: 112px;
	left: 48px;
	background-color: $whiteSecondary;
	height: 8px;
	width: 24px;
	font-size: 8px;
}

.selected-pokemon-special-container {
	position: absolute;
	top: 128px;
	left: 48px;
	background-color: $whiteSecondary;
	height: 8px;
	width: 24px;
	font-size: 8px;
}

.menu-backgrond-container {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: $whiteColor;

	.top-left-corner,
	.top-right-corner,
	.bottom-left-corner, 
	.bottom-right-corner {
		position: absolute;
		height: 8px;
		width: 8px;
	}

	.bottom-border,
	.top-border {
		position: absolute;
		height: 8px;
	}

	.left-border, 
	.right-border {
		position: absolute;
		width: 8px;
	}
}