
// color
$primaryColor: #F73718;
$whiteColor: #f8e8f8;
$whiteSecondary: #f6f9f8;
$thirdWhite: #f7f5f5;

// size
$GameHeight: 144px;
$GameWidth: 160px;
$mapTile: 16px;

// black color - font
$black1: 1B141B;
$black2: 120B12;