.fight-main-container {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: $whiteColor;
}

.fight-background-img-container {
    position: relative;
    top: 0px;
    left: 0px;
    height: $GameHeight;
    width: $GameWidth;
    overflow: hidden;
}

.fight-backgrond-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: fill;
}

.fight-users-mon-img-container {
    position: absolute;
    height: 58px;
    width: 58px;
    bottom: 46px;
    left: 7px;
    // z-index: 5;
    overflow: hidden;
    background-color: $whiteColor;
}

.fight-users-mon-name-container {
    display: flex;
    position: absolute;
    height: 9px;
    width: 70px;
    bottom: 80px;
    left: 79px;
    // z-index: 5;
    background-color: $whiteColor;

    span {
        font-size: 8px;
    }
}

.fight-users-mon-level-container {
    display: flex;
    position: absolute;
    height: 8px;
    width: 16px;
    bottom: 72px;
    left: 120px;
    // z-index: 5;

    span {
        font-size: 8px;
        font-weight: bold;
    }
}

.fight-users-mon-hp-container {
    position: absolute;
    right: 16px;
    bottom: 56px;
    height: 8px;
    width: 58px;
    // z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    span {
        font-size: 10px;
    }
}

.fight-opponent-mon-img-container {
    position: absolute;
    height: 42px;
    width: 42px;
    top: 15px;
    right: 15px;
    // z-index: 5;
    overflow: hidden;
    background-color: $whiteColor;
}

.fight-opponent-mon-img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fight-backgrond-container-in-fight {
    position: relative;
    height: 100%;
    width: 100%;
}

.fight-main-options-container {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
}

.fight-move-selecter-0 {
    display: flex;
    height: 8px;
    width: 104px;
    bottom: 25px;
    background-color: $whiteColor;
}

.fight-move-selecter-1 {
    display: flex;
    height: 8px;
    width: 104px;
    bottom: 54px;
}

.fight-move-selecter-2 {
    display: flex;
    height: 8px;
    width: 104px;
    bottom: 30px;
}

.fight-move-selecter-3 {
    display: flex;
    height: 8px;
    width: 104px;
    bottom: 8px;
}

.fight-opponent-name-container {
    position: absolute;
    top: 0;
    left: 7px;
    height: 8px;
    width: 82px;
    // z-index: 5;
    background-color: $whiteColor;

    p {
        font-size: 8px;
    }
}

.fight-opponent-level-container {
    position: absolute;
    top: 8px;
    left: 40px;
    height: 8px;
    width: 12px;
    // z-index: 5;
    background-color: $whiteColor;

    p {
        font-size: 8px;
    }
}

.fight-opponent-hp-container {
    position: absolute;
    top: 19px;
    left: 32px;
    height: 2px;
    width: 48px;
    // z-index: 5;
    background-color: $whiteColor;
}

.fight-opponent-hp {
    position: absolute;
    height: 100%;
    background-color: #6a8a71;
    top: 0;
    left: 0;
}

.fight-select-moves-img-container-1 {
    position: absolute;
    width: 100%;
    // z-index: 10;
    height: 48px;
    top: 96px;
    left: 32px;
}

.fight-select-moves-img-container {
    position: absolute;
    width: 100%;
    // z-index: 100;
    height: 100%;
    top: 0px;
    left: 0px;
}

.fight-select-moves-img-container-2 {
    position: absolute;
    // z-index: 100000;
    height: 40px;
    left: 0;
    top: 64px;
    width: 88px;
}



.attacks-options-container {
    position: absolute;
    height: 34px;
    width: 100%;
    bottom: 7px;
    left: 47px;
    // z-index: 500;
    display: flex;
    flex-direction: column;
}




.fight-move-text {
    font-size: 8px;
    cursor: pointer;
}

.fight-menu-backgrond-container {
    position: absolute;
    top: 96px;
    left: 0;
    height: 48px;
    width: 100%;
}

.fight-init-options-menu-container {
    position: absolute;
    top: 96px;
    left: 64px;
    height: 48px;
    width: 96px;
}

.fight-init-select-fight-text {
    position: absolute;
    top: 16px;
    left: 16px;
    // z-index: 8000;
}

.fight-init-select-item-text {
    position: absolute;
    top: 32px;
    left: 16px;
    // z-index: 8000;
}
.fight-init-select-pokemon-text {
    position: absolute;
    top: 16px;
    left: 64px;
    // z-index: 8000;
}
.fight-init-select-run-text {
    position: absolute;
    top: 32px;
    left: 64px;
    // z-index: 8000;
}

.fight-init-pointer-container {
    position: absolute;
}

