.main-font-container {
    height: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.font-word-container {
    height: 8px;
    display: flex;
    margin-right: 8px;
}

.font-char-container {
    height: 8px;
    width: 8px;
}

.main-font-chars-container {
    height: 8px;
    width: 8px;
    position: relative;

    svg {
        position: absolute;
        top: 0;
        left: 0;
    }
}