.map_container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  z-index: -999;
}

.display-map-container {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}