.map_container {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 500px;
  position: relative;
  top: -50px;
  left: 0;
}

%map_chunk {
  height: 50px;
  width: 50px;
}

.map_chunk-1 {
  @extend %map_chunk;
  background-color: green;
}

.map_chunk-2 {
  @extend %map_chunk;
  background-color: gray;
}

.map_chunk-3 {
  @extend %map_chunk;
  background-color: blue;
}
