.display-player-strite-container {
    position: relative;
    height: $mapTile;
    width: $mapTile;
    overflow: hidden;
    top: 64px;
    left: 64px;
    z-index: 5;
}
.open-world-container {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.player-container {
    position: absolute;
    top: 0;
    left: 0;
}