* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1230;
}

.absolute-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main_game_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.GameBox {
  height: 144px;
  width: 160px;
  overflow: hidden;
  position: relative;
}

.absuluseP {
  position: absolute;
  top: 0;
  left: 0;
}

.map_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.display-map-container {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-backpack-container {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.backpack-container-open {
  position: relative;
  height: 100%;
  width: 100%;
}

.backpack-img-container {
  height: 144px;
  width: 160px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 600;
}

.backpack-img-container img {
  height: 100%;
  width: 100%;
}

.backpack_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 13%;
}

.backpack_option_container {
  margin-left: 50px;
  cursor: pointer;
}

.main_pokemon_party_container {
  position: absolute;
  top: 0;
  right: 0;
  height: 144px;
  width: 160px;
  z-index: 1000;
}

.pokemon-party-backgrond-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.pokemon-party-backgrond-container img {
  height: 292px;
  width: 324px;
}

.backpack_text {
  font-size: 2.6rem;
}

.open-pokedex-box,
.open-party-box,
.open-items-box,
.open-name-box,
.open-save-box,
.open-options-box,
.exit-backback-box {
  position: absolute;
  left: 96px;
  height: 8px;
  width: 57px;
  z-index: 5000;
  cursor: pointer;
}

.open-pokedex-box {
  top: 16px;
}

.open-party-box {
  top: 32;
}

.open-items-box {
  top: 48px;
}

.open-name-box {
  top: 64px;
}

.open-save-box {
  top: 80px;
}

.open-options-box {
  top: 96px;
}

.exit-backback-box {
  top: 112px;
}

.open-party-box {
  position: absolute;
  top: 32px;
  left: 96px;
  height: 9px;
  width: 57px;
  z-index: 5000;
  cursor: pointer;
}

.pokemon-party-list-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 7px;
}

.mon-in-bag-container-0 {
  position: relative;
  height: 16px;
  font-size: 4px;
  width: 153px;
}

.mon-in-bag-container-1 {
  position: relative;
  height: 16px;
  font-size: 4px;
  width: 153px;
}

.mon-in-bag-container-2 {
  position: relative;
  height: 16px;
  font-size: 4px;
  width: 153px;
}

.mon-in-bag-container-3 {
  position: relative;
  height: 16px;
  font-size: 4px;
  width: 153px;
}

.mon-in-bag-container-4 {
  position: relative;
  height: 16px;
  font-size: 4px;
  width: 153px;
}

.mon-in-bag-container-5 {
  position: relative;
  height: 16px;
  font-size: 4px;
  width: 153px;
}

.mon-in-bag-container-6 {
  position: relative;
  height: 16px;
  font-size: 4px;
  width: 153px;
}

.mon-in-bag-name-container {
  position: absolute;
  top: 0;
  left: 17px;
  height: 8px;
  width: 80px;
  background-color: #f7f5f5;
}

.mon-in-bag-level-container {
  position: absolute;
  top: 0;
  right: 32px;
  height: 8px;
  width: 25px;
  background-color: #f7f5f5;
}

.mon-in-bag-character-container {
  height: 16px;
  width: 17px;
  position: absolute;
  top: 0;
  left: 0px;
  background-color: #f7f5f5;
}

.mon-in-bag-hp-container {
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 8px;
  width: 57px;
  background-color: #f7f5f5;
}

.pokemon-party-poiner-container {
  position: absolute;
  height: 16px;
  width: 16px;
}

.selected-pokemon-stats-container {
  position: absolute;
  top: 0;
  left: 0;
}

.selected-pokemon-img-container {
  position: absolute;
  top: 0;
  left: 8px;
  height: 56px;
  width: 56px;
  background-color: #f6f9f8;
}

.selected-pokemon-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.selected-pokemon-name-container {
  position: absolute;
  top: 8px;
  left: 72px;
  height: 8px;
  width: 80px;
  font-size: 8px;
  background-color: #f6f9f8;
}

.selected-pokemon-level-container {
  position: absolute;
  top: 16px;
  left: 120px;
  height: 8px;
  width: 24px;
  font-size: 8px;
  background-color: #f6f9f8;
}

.selected-pokemon-attack-container {
  position: absolute;
  top: 80px;
  left: 48px;
  background-color: #f6f9f8;
  height: 8px;
  width: 24px;
  font-size: 8px;
}

.selected-pokemon-defense-container {
  position: absolute;
  top: 96px;
  left: 48px;
  background-color: #f6f9f8;
  height: 8px;
  width: 24px;
  font-size: 8px;
}

.selected-pokemon-speed-container {
  position: absolute;
  top: 112px;
  left: 48px;
  background-color: #f6f9f8;
  height: 8px;
  width: 24px;
  font-size: 8px;
}

.selected-pokemon-special-container {
  position: absolute;
  top: 128px;
  left: 48px;
  background-color: #f6f9f8;
  height: 8px;
  width: 24px;
  font-size: 8px;
}

.backpack-menu-backpack-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 128px;
}

.menu-backgrond-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.menu-backgrond-container .top-left-corner {
  position: absolute;
  height: 8px;
  width: 8px;
}

.menu-backgrond-container .top-left-corner svg {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-backgrond-container .top-right-corner {
  position: absolute;
  height: 8px;
  width: 8px;
}

.menu-backgrond-container .top-right-corner svg {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-backgrond-container .bottom-left-corner {
  position: absolute;
  height: 8px;
  width: 8px;
}

.menu-backgrond-container .bottom-left-corner svg {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-backgrond-container .bottom-right-corner {
  position: absolute;
  height: 8px;
  width: 8px;
}

.menu-backgrond-container .bottom-right-corner svg {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-backgrond-container .top-border {
  position: absolute;
  height: 8px;
}

.menu-backgrond-container .top-border svg {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-backgrond-container .left-border {
  position: absolute;
  width: 8px;
}

.menu-backgrond-container .left-border svg {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-backgrond-container .right-border {
  position: absolute;
  width: 8px;
}

.menu-backgrond-container .right-border svg {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-backgrond-container .bottom-border {
  position: absolute;
  height: 8px;
}

.menu-backgrond-container .bottom-border svg {
  position: absolute;
  top: 0;
  left: 0;
}

.fight-main-container {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: #f8e8f8;
}

.fight-background-img-container {
  position: relative;
  top: 0px;
  left: 0px;
  height: 144px;
  width: 160px;
  overflow: hidden;
}

.fight-backgrond-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: fill;
     object-fit: fill;
}

.fight-users-mon-img-container {
  position: absolute;
  height: 58px;
  width: 58px;
  bottom: 46px;
  left: 7px;
  overflow: hidden;
  background-color: #f8e8f8;
}

.fight-users-mon-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 9px;
  width: 70px;
  bottom: 80px;
  left: 79px;
  background-color: #f8e8f8;
}

.fight-users-mon-name-container span {
  font-size: 8px;
}

.fight-users-mon-level-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 8px;
  width: 16px;
  bottom: 72px;
  left: 120px;
}

.fight-users-mon-level-container span {
  font-size: 8px;
  font-weight: bold;
}

.fight-users-mon-hp-container {
  position: absolute;
  right: 16px;
  bottom: 56px;
  height: 8px;
  width: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.fight-users-mon-hp-container span {
  font-size: 10px;
}

.fight-opponent-mon-img-container {
  position: absolute;
  height: 42px;
  width: 42px;
  top: 15px;
  right: 15px;
  overflow: hidden;
  background-color: #f8e8f8;
}

.fight-opponent-mon-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.fight-backgrond-container-in-fight {
  position: relative;
  height: 100%;
  width: 100%;
}

.fight-main-options-container {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.fight-move-selecter-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8px;
  width: 104px;
  bottom: 25px;
  background-color: #f8e8f8;
}

.fight-move-selecter-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8px;
  width: 104px;
  bottom: 54px;
}

.fight-move-selecter-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8px;
  width: 104px;
  bottom: 30px;
}

.fight-move-selecter-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8px;
  width: 104px;
  bottom: 8px;
}

.fight-opponent-name-container {
  position: absolute;
  top: 0;
  left: 7px;
  height: 8px;
  width: 82px;
  background-color: #f8e8f8;
}

.fight-opponent-name-container p {
  font-size: 8px;
}

.fight-opponent-level-container {
  position: absolute;
  top: 8px;
  left: 40px;
  height: 8px;
  width: 12px;
  background-color: #f8e8f8;
}

.fight-opponent-level-container p {
  font-size: 8px;
}

.fight-opponent-hp-container {
  position: absolute;
  top: 19px;
  left: 32px;
  height: 2px;
  width: 48px;
  background-color: #f8e8f8;
}

.fight-opponent-hp {
  position: absolute;
  height: 100%;
  background-color: #6a8a71;
  top: 0;
  left: 0;
}

.fight-select-moves-img-container-1 {
  position: absolute;
  width: 100%;
  height: 48px;
  top: 96px;
  left: 32px;
}

.fight-select-moves-img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.fight-select-moves-img-container-2 {
  position: absolute;
  height: 40px;
  left: 0;
  top: 64px;
  width: 88px;
}

.attacks-options-container {
  position: absolute;
  height: 34px;
  width: 100%;
  bottom: 7px;
  left: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fight-move-text {
  font-size: 8px;
  cursor: pointer;
}

.fight-menu-backgrond-container {
  position: absolute;
  top: 96px;
  left: 0;
  height: 48px;
  width: 100%;
}

.fight-init-options-menu-container {
  position: absolute;
  top: 96px;
  left: 64px;
  height: 48px;
  width: 96px;
}

.fight-init-select-fight-text {
  position: absolute;
  top: 16px;
  left: 16px;
}

.fight-init-select-item-text {
  position: absolute;
  top: 32px;
  left: 16px;
}

.fight-init-select-pokemon-text {
  position: absolute;
  top: 16px;
  left: 64px;
}

.fight-init-select-run-text {
  position: absolute;
  top: 32px;
  left: 64px;
}

.fight-init-pointer-container {
  position: absolute;
}

.display-player-strite-container {
  position: relative;
  height: 16px;
  width: 16px;
  overflow: hidden;
  top: 58px;
  left: 64px;
  z-index: 5;
}

.open-world-container {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.player-container {
  position: absolute;
  top: 0;
  left: 0;
}

.main-font-container {
  height: 8px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.font-word-container {
  height: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1px;
}

.font-char-container {
  height: 8px;
  width: 8px;
}

.main-font-chars-container {
  height: 8px;
  width: 8px;
  position: relative;
}

.main-font-chars-container svg {
  position: absolute;
  top: 0;
  left: 0;
}

.main-pointer-container {
  height: 8px;
  width: 8px;
  z-index: 99999999;
  position: relative;
}

.main-pointer-container svg {
  position: absolute;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=styles.css.map */