* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1230;
}

.main_game_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.map_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 300px;
  width: 500px;
  position: relative;
  top: -50px;
  left: 0;
}

.map_chunk-1, .map_chunk-2, .map_chunk-3 {
  height: 50px;
  width: 50px;
}

.map_chunk-1 {
  background-color: green;
}

.map_chunk-2 {
  background-color: gray;
}

.map_chunk-3 {
  background-color: blue;
}

.main_backpack_container {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: green;
  z-index: 9;
  height: 90%;
  width: 50%;
}

.backpack_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 13%;
}

.backpack_option_container {
  margin-left: 50px;
  cursor: pointer;
}

.main_pokemon_party_container {
  position: absolute;
  top: 0;
  right: 0;
  height: 450px;
  width: 500px;
  background-color: #ff00009e;
}

.backpack_text {
  font-size: 2.6rem;
}

.fight-main-container {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
}

.fight-background-img-container {
  position: relative;
  top: 0px;
  left: 0px;
  height: 450px;
  width: 500px;
  overflow: hidden;
}

.fight-backgrond-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: fill;
     object-fit: fill;
}

.fight-users-mon-img-container {
  position: absolute;
  height: 133px;
  width: 184px;
  bottom: 146px;
  left: 21px;
  z-index: 5;
  overflow: hidden;
  background-color: #f8e8f8;
}

.fight-users-mon-name-container {
  position: absolute;
  height: 26px;
  width: 221px;
  bottom: 251px;
  left: 247px;
  z-index: 5;
  background-color: #f8e8f8;
}

.fight-users-mon-level-container {
  position: absolute;
  height: 23px;
  width: 45px;
  bottom: 226px;
  left: 374px;
  z-index: 5;
}

.fight-users-mon-hp-container {
  position: absolute;
  height: 33px;
  width: 166px;
  bottom: 169px;
  right: 58px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fight-opponent-mon-img-container {
  position: absolute;
  height: 160px;
  width: 160px;
  top: 25px;
  right: 25px;
  z-index: 5;
  overflow: hidden;
  background-color: #f8e8f8;
}

.fight-main-options-container {
  position: absolute;
  height: 108px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: green;
  opacity: 0.5;
}

.fight-move-selecter {
  border: 1px solid black;
  cursor: pointer;
}

.fight-opponent-name-container {
  position: absolute;
  top: 0;
  left: 23px;
  height: 25px;
  width: 250px;
  z-index: 5;
  background-color: #f8e8f8;
}

.fight-opponent-level-container {
  position: absolute;
  top: 26px;
  left: 125px;
  height: 23px;
  width: 25px;
  z-index: 5;
  background-color: #f8e8f8;
}

.fight-opponent-hp-container {
  position: absolute;
  top: 52px;
  left: 99px;
  height: 25px;
  width: 37px;
  z-index: 5;
  background-color: #e49be4;
}
/*# sourceMappingURL=styles.css.map */