@import 'config';

* {
  margin: 0;
  padding: 0;
}

.main_game_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  // background-color: $primaryColor
}

@import 'maps';
@import 'backpack';