@import 'config';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1230;
}

.absolute-size-100 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.main_game_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  // background-color: $primaryColor
}

.GameBox {
  height: $GameHeight;
  width: $GameWidth;
  overflow: hidden;
  position: relative;
}

.absoluteP {
  position: absolute;
  top: 0;
  left: 0;
}

.relativeP {
  position: relative;
  height: 100%;
  width: 100%;
}

.absolute-full-size {
  position: absolute;
	top: 0;
	right: 0;
	height: $GameHeight;
	width: $GameWidth;
}

@import 'maps';
@import 'backpack';
@import 'fight';
@import 'openWorld';
@import 'font';
@import 'utils';

// measurement
// pokemon_battle_backgrond  160 x 144
// pokemon_sprites 1727 x 917